app = "4amotos-pocketbase" # cambia si el nombre ya está en uso
# Región ajustada a una disponible (ej: gru - São Paulo)
primary_region = "gru"
kill_signal = "SIGINT"
kill_timeout = "5s"

[build]
  dockerfile = "Dockerfile"

[env]
  POCKETBASE_ENV = "production"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [[http_service.checks]]
    grace_period = "30s"
    interval = "15s"
    method = "GET"
    path = "/api/health"
    protocol = "http"
    timeout = "5s"

[[mounts]]
  source = "pb_data"
  destination = "/pb/pb_data"
  processes = ["app"]

[vm]
  cpu_kind = "shared"
  cpus = 1
  memory = "512mb"
